:root {
  --font-family: "Just Me Again Down Here", sans-serif;
  --second-family: "Long Cang", sans-serif;
  --color-light: #fff;
  --color-dark: #000;
  --color-background: #004AAD;
  --color-red: #FF0000;
}